section.contacts
	.container
		.contacts__inner 
			.contacts__content 
				.contacts__manager
					.contacts__manager-title Наши менеджеры
						.contacts__manager-items
							.contacts__manager-item
								.contacts__manager-img
									img(src="img/manager-1.jpg")
								.contacts__manager-name Макс
									span 30 лет
									span Харьков
								.contacts__manager-link
									a(href="#") Связаться
							.contacts__manager-item
								.contacts__manager-img
									img(src="img/manager-2.jpg")
								.contacts__manager-name Анна
									span 28 лет
									span Киев
								.contacts__manager-link
									a(href="#") Связаться
				.contacts__blog
					.contacts__blog-title Блог
						ul.contacts__blog-items 
							li.contacts__blog-item
								a.contacts__blog-link(href="#") 
									| Системы охраны и видеонаблюдения
							li.contacts__blog-item
								a.contacts__blog-link(href="#") 
									| Клубная недвижимость всегда в цене
							li.contacts__blog-item
								a.contacts__blog-link(href="#") 
									| Все плюсы от посуточной аренды квартир
							li.contacts__blog-item
								a.contacts__blog-link(href="#") 
									| Как выбрать жильё своей мечты в Киеве?
							li.contacts__blog-item
								a.contacts__blog-link(href="#") 
									| Топ 10 ВИП коттеджей Лос Анджелеса
							li.contacts__blog-item
								a.contacts__blog-link(href="#") 
									| Лучшие аппартаменты с панорамным видом
							li.contacts__blog-item
								a.contacts__blog-link(href="#") 
									| Дома для аренды на год в Майами
				.contacts__reviews
					.contacts__reviews-title Отзывы
					img.contacts__reviews-img(src="img/review.jpg")
					.contacts__reviews-text 
						| Это лучший сервис по подбору аппартаментов. Пользуюсь услугами To rent уже 5 лет. Всегда идеально и именно то, что мне нужно.
					.contacts__reviews-link
						a(href="#") Еще отзывы
			.contacts__other 
				.contacts__links 
					ul.contacts__list
						li.contacts__item 
							a.contacts__link(href="#") О нас
						li.contacts__item 
							a.contacts__link(href="#") Дома
						li.contacts__item 
							a.contacts__link(href="#") Аппартаменты
						li.contacts__item 
							a.contacts__link(href="#") Отзывы
						li.contacts__item 
							a.contacts__link(href="#") Контакты
				form.contacts__form
					label.contacts__form-title Связаться с нами
					.contacts__form-box
					input.contacts__form-input(type="text" placeholder="Задать вопрос")
					button.contacts__form-btn(type="submit") Отправить