@use 'vars' as *

.contacts
	// padding-top: 100px
	padding-top: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem)
	background-color: $black
	color: $white
	&__content
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		gap: 20px
		// margin-bottom: 200px
		margin-bottom: clamp(1.875rem, -1.989rem + 19.32vw, 12.5rem)
	&__manager
		max-width: 300px
	&__manager-title, &__blog-title, &__reviews-title
		@include ptserif-regular
		// font-size: 48px
		font-size: clamp(2rem, 1.636rem + 1.82vw, 3rem)
		line-height: 48px
		text-align: center
	&__manager-items
		margin-top: 27px
		display: flex
		gap: 57px
	&__manager-img
		margin-bottom: 22px
		img
			width: 100px
			height: 100px
			object-fit: cover
			border-radius: 50%
	&__manager-name
		@include robotocondensed-regular
		font-size: 18px
		line-height: 21px
		margin-bottom: 43px
		span
			display: block
	&__manager-link
		@include robotocondensed-regular
		font-size: 18px
		line-height: 18px
		background-color: $white
		color: $black
		padding: 16px 21px
		cursor: pointer
	&__blog
		max-width: 410px
	&__blog-items
		margin-top: 47px
		max-width: 411px
		@include robotocondensed-regular
		// font-size: 18px
		font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem)
		line-height: 18px
		text-align: left
	&__blog-item
		// padding-left: 67px
		padding-left: clamp(2.5rem, 1.886rem + 3.07vw, 4.188rem)
		margin-bottom: 29px
		position: relative
		&::before
			content: ''
			background-image: url('../img/arrow-white.svg')
			width: 30px
			height: 30px
			position: absolute
			top: -5px
			left: 0
	&__reviews
		max-width: 300px
	&__reviews-img
		width: 300px
		height: 127px
		object-fit: cover
		margin-top: 48px
	&__reviews-text
		margin: 16px 0
	&__reviews-link
		@include robotocondensed-regular
		font-size: 18px
		line-height: 18px
		background-color: $white
		color: $black
		padding: 16px 10px
		cursor: pointer
		text-align: center
		max-width: 150px
	&__other
		display: flex
		flex-wrap: wrap
		justify-content: flex-start
		// gap: 130px
		gap: clamp(1.25rem, -1.25rem + 12.5vw, 8.125rem)
		// padding-bottom: 100px
		padding-bottom: clamp(1.875rem, 0.284rem + 7.95vw, 6.25rem)
		align-items: center
	&__list
		font-size: 24px
		line-height: 36px
	&__form
		display: flex
		justify-content: center
		align-items: center
	&__form-title
		// font-size: 18px
		font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem)
		line-height: 18px
		color: $grey
		width: 82px
		text-align: left
		margin-right: 10px
	&__form-input
		color: $grey
		// width: 430px
		width: clamp(13.5rem, 8.636rem + 24.32vw, 26.875rem)
		// font-size: 18px
		font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem)
		line-height: 24px
		padding: 21px 15px
		border: 2px solid $grey
		&::placeholder
			color: $grey
			// font-size: 18px
			font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem)
			line-height: 24px
			@include robotocondensed-regular
	&__form-btn
		// font-size: 18px
		font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem)
		line-height: 18px
		color: $white
		background-color: $grey
		border: none
		// padding: 26px 33px 26px 37px
		padding: 26px clamp(0.313rem, -0.324rem + 3.18vw, 2.063rem) 26px clamp(0.313rem, -0.415rem + 3.64vw, 2.313rem)
		cursor: pointer
@media ( max-width: 1065px )
	.contacts
		&__content
			justify-content: center
			gap: 70px
		&__other
			justify-content: center
			text-align: center
			flex-direction: column
@media ( max-width: 845px )
	.contacts
		&__form
			flex-wrap: wrap
	.contacts__form-title
		width: 100%
		margin-right: 0
		text-align: center
		margin-bottom: 10px
