section.about
	h3.about__title Самые популярные варианты
	.container
		.about__items 
			.about__item
				.about__item-images
					img.about__item-img(src="img/houses-1.jpg")
				.about__item-title Апартаменты 
					span Харьков
				.about__item-link
					a(href="#") детали
			.about__item
				.about__item-images
					img.about__item-img(src="img/houses-2.jpg")
				.about__item-title Апартаменты 
					span Киев
				.about__item-link
					a(href="#") детали
			.about__item
				.about__item-images
					img.about__item-img(src="img/houses-3.jpg")
				.about__item-title Апартаменты 
					span Берн
				.about__item-link
					a(href="#") детали
			.about__item
				.about__item-images
					img.about__item-img(src="img/houses-4.jpg")
				.about__item-title Апартаменты 
					span Лондон
				.about__item-link
					a(href="#") детали
		.about__content
			.about__time 
				.about__time-box
					img.about__time-img(src="img/houses-icon-time.svg", alt="")
					.about__time-title Мы экономим Ваше время и Ваши деньги
				.about__time-text 
					| Вы можете легко подобрать себе самую лучшую недвижимость для аренды на нашем сайте по выгодной цене. Наши менеджеры с удовольствием помогут Вам и ответят на все вопросы.
				.about__time-link 
					a(href="#") Подробнее
			.about__globus 
				.about__globus-box
					img.about__globus-img(src="img/houses-icon-globus.svg", alt="")
					.about__globus-title Арендуйте лучшую недвижимость в крупных городах 
				.about__globus-text 
					| Наша база элитной недвижимости насчитывает более 5000 вариантов в крупных городах мира.Мы поможем Вам выбрать самую лучшую, также предоставим дополнительный сервис
				.about__globus-link 
					a(href="#") Подробнее