header.header 
	.header__logo 
		a(href="#")
			img(src="img/logo.png", alt="")
	.header__inner
		nav.menu
			ul.menu__list
				li.menu__list-item
					a.menu__list-link(href="#") О нас
				li.menu__list-item
					a.menu__list-link(href="#") Дома
				li.menu__list-item
					a.menu__list-link(href="#") Квартиры
				li.menu__list-item
					a.menu__list-link(href="#") Контакты
		.header__slider 
			img(src="img/header-slider-1.jpg", alt="")
			img(src="img/header-slider-2.jpg", alt="")
			img(src="img/header-slider-3.jpg", alt="")
		.header__search 
			.header__search-form
				label.header__search-title Поиск 
					span Аппартаментов
				input.header__search-input(type="text" placeholder="Введите город")
				button.header__search-btn(type="submit") Найти