header.header 
	.container 
		.header__top
			nav.menu 
				ul.menu__list 
					li.menu__item 
						a.menu__link(href="#trip") Маршрут
					li.menu__item 
						a.menu__link(href="#hotel") Отель
					li.menu__item 
						a.menu__link(href="#price") Стоимость
			a.phone__link(href="tel:88005553535") 8 (800) 555-35-35
		.header__inner 
			h1.header__title Cappadocia
				span Эксклюзивный тур