doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/style.min.css")
		title to2rent
	body 
		.wrapper
			header.header
				block header 
					include section/_header/_header
			main.main
				block page
					include section/_about/_about
					include section/_apartments/_apartments
					include section/_contacts/_contacts
			block footer
				include section/_footer/_footer
	script(src='js/main.min.js')