footer.footer 
	.container
		.footer__inner
			.footer__contacts
				.footer__title Contacts
				a.footer__phone(href="tel:88005553535") 8 (800) 555-35-35
				br
				a.footer__mail(href="mailto:сappadocia.tours@gmail.com") сappadocia.tours@gmail.com
				.footer__social
					a.footer__social-link(href="#")
						img(src="img/footer-youtube.svg", alt="Youtube")
					a.footer__social-link(href="#")
						img(src="img/footer-facebook.svg", alt="Facebook")
					a.footer__social-link(href="#")
						img(src="img/footer-instagram.svg", alt="Instagram")
			.footer__text Dreams come true