$grey: #C4C4C4
$black: #000
$white: #fff
$grey-text: #888

// Переменные и миксины для шрифтов
// Доступные миксины:
// @include ptserif-regular
$ptserif-regular: 'PTSerif-Regular', sans-serif
@mixin ptserif-regular
	font-family: $ptserif-regular
	font-weight: 400
	font-display: swap

// @include robotocondensed-regular
$robotocondensed-regular: 'RobotoCondensed-Regular', sans-serif
@mixin robotocondensed-regular
	font-family: $robotocondensed-regular
	font-weight: 400
	font-display: swap
// Конец шрифтов
